{
    "presets": [
      [
        "@babel/preset-env",
        {
          "loose": true,
          "modules":  "auto",
          "targets": {
            "esmodules": true
          }
        }
      ]
    ]
  }